@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgb(rgb(0, 255, 64), rgb(167, 15, 15), rgb(23, 235, 250));
    color: white;
    font-family: "Roboto",Arial, Helvetica, sans-serif ; 

}